.sidebar{
    height: 100%;
    width: 400px;
    background-color: #7ca9d3;
}
.containerInsurance{
    text-align: center;
    font-size: 152px;
    background: black;
    background-color: green;;
}